[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KRLS"]
	path = KRLS
	url = https://github.com/j-hai/krls
[submodule "Synth"]
	path = Synth
	url = https://github.com/j-hai/synth
[submodule "ebal"]
	path = ebal
	url = https://github.com/j-hai/ebal
